/* General Setting */
/* Small screens (default) */
/* Grid */
/* Ditto */
body {
	color: #333;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial;
	overflow-x: hidden;
}

#sidebar {
	margin-top: 0;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-top: 25px;
	box-shadow: 0 0 40px #CCC;
	-webkit-box-shadow: 0 0 40px #CCC;
	-moz-box-shadow: 0 0 40px #CCC;
	border-right: 1px solid #BBB;
}

#sidebar {
	width: 280px;
	height: 100vh;
	position: fixed;
	top: 0;
	margin-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
	font-size: 0.9rem;
}

#sidebar>p {
	display: none;
}

#sidebar h1 {
	font-size: 1.5rem;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#sidebar h1 a:link,
#sidebar h1 a:visited {
	color: #333;
}

#sidebar h2 {
	font-size: 16px;
}

#sidebar h5 {
	margin-top: 20px;
	margin-bottom: 0;
}

#sidebar li:hover a {
	color: #f63;
}

#sidebar a {
	color: #4682BE;
	text-decoration: none;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
	padding-top: 0;
}

#sidebar ol {
	margin: 0;
	padding-left: 30px;
	padding-top: 0;
}

#sidebar ul li:before {
	/* a hack to have dashes as a list style */
	content: "-";
	position: relative;
	left: -5px;
}

#sidebar ul li,
#sidebar ol li {
	margin-top: 0;
	margin-bottom: 0.2rem;
	margin-left: 10px;
	padding: 0;
	text-indent: 0;
	font-size: 0.85rem;
}

#content {
	width: 720px;
	/* height: calc(100% + 50px); */
	padding-left: 330px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.3rem;
	font-size: 0.9rem;
	padding-bottom: 30px;
}

#content p {
	text-indent: 2em;
}

#content pre {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0.7rem;
	line-height: 1.2;
	color: #FFF;
	background: #111;
	border-radius: 5px;
	white-space: pre-wrap;
}

#content code {
	color: #a6e22e;
	font-size: 0.9rem;
	font-weight: normal;
	font-family: Consolas, "Courier New", Courier, FreeMono, monospace;
	background: #111;
	border-radius: 2px;
	word-break: keep-all;
}

#content p code,
#content li>code,
#content h2>code,
#content h3>code {
	padding-left: 3px;
	padding-right: 3px;
	color: #c7254e;
	background: #f9f2f4;
}

#content h2 {
	margin-top: 50px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	font-size: 20px;
	text-align: left;
	border-top: 2px solid #666;
	counter-increment: section;
}

#content h2:before {
	content: counter(section) ". ";
}

#content h3 {
	margin-top: 50px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: left;
	border-top: 1px dotted #777;
}

#content h2:hover,
#content h3:hover {
	color: #ED1C24;
}

#content img {
	max-width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 5px;
}

#content ul {
	display: block;
	list-style-type: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#content ol {
	display: block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#content ul li:before {
	/* a hack to have dashes as a list style */
	content: "-";
	position: relative;
	left: -5px;
}

#content ul li,
#content ol li {
	text-indent: 0px;
	/* to compensate for the padding for the dash */
	font-size: 0.8rem;
	line-height: 1.5rem;
	/* text-shadow: 1px 1px 1px #aaa; */
}

#content ol.content-toc li.link:hover,
#content ol.content-toc li:hover a {
	color: #f63;
}

#content ul li.link,
#content ol li.link {
	color: #2980b9;
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
}

#content a:link,
#content a:visited {
	color: #4682BE;
	text-decoration: none;
}

#content .content-toc {
	background: #bdc3c7;
	border-radius: 5px;
}

#content table {
	display: block;
	width: 100%;
	overflow: auto;
	word-break: normal;
	word-break: keep-all
}

#content table th {
	font-weight: bold
}

#content table th,
#content table td {
	padding: 6px 13px;
	border: 1px solid #ddd
}

#content table tr {
	background-color: #fff;
	border-top: 1px solid #ccc
}

#content table tr:nth-child(2n) {
	background-color: #f8f8f8
}

#loading,
#error {
	display: none;
	position: fixed;
	top: 0;
	height: 17px;
	font-size: 14px;
}

#flip {
	height: 20px;
	width: 720px;
	margin-left: 330px;
	position: fixed;
	left: center;
	bottom: 5px;
	z-index: 9999;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}

#pageup,
#pagedown {
	flex: 0 0 100px;
	height: 20px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	line-height: 20px;
	font-size: 10px;
	color: #FFF;
	user-select: none;
	pointer-events: auto;
}

#pageup {
	margin-right: 5px;
}

#pageup:hover,
#pagedown:hover {
	background-color: #369;
	cursor: pointer;
}

#pagedown {
	margin-left: 5px;
}

.progress-indicator-2 {
	position: fixed;
	top: 0;
	left: 0;
	height: 3px;
	background-color: #0A74DA;
}

#footer {
	position: fixed;
	width: 740px;
	height: 30px;
	line-height: 30px;
	left: center;
	bottom: 0px;
	margin-left: 320px;
	text-align: center;
	text-decoration: none;
	background-color: #def;
	font-size: 14px;
}